.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.input {
    margin: 10px;
    border-radius: 5px;
    background: darkslategray;
    color: gold;
}

.input:focus {
    outline: none;
    border: 2px solid aqua;
    border-radius: 5px;
}

.errorInput {
    margin: 10px;
    background: darkslategray;
    color: greenyellow;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
}

.button {
    cursor: pointer;
    margin: 10px;
    width: 60px;
    background: darkslategray;
    color: gold;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px #565656;
}

.button:focus {
    outline: greenyellow solid 2px;
}

.button:active {
    background: deepskyblue;
    box-shadow: 0 3px #666;
    transform: translateY(1px);
}

.button:disabled {
    color: #b0b0ac;
}

.count {
    margin: 10px;
}
